
.screen4 {    
    font-family: "Lato",sans-serif;
    padding: 0px 50px 10px;
    margin-bottom: 120px;
}
.screen4-blocks{
    margin-top: 60px;
}
.screen4-title {
    text-align: center;
}
.screen4-title h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 36px !important;
    line-height: 43px !important;
    text-align: center !important;
    color: #3e3f43 !important;
    margin-bottom: 8px !important;
}
.screen4-subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 24px !important;
    line-height: 29px !important;
    text-align: center !important;
    color: #8a8a8a !important;
    text-transform: uppercase;
}
.screen4-titletype {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    color: #fff;
    padding: 15px 0 10px;
}
.screen4-site1 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    padding: 10px 0 0;
}
.screen4-button {
    margin-top: 80px;
    text-align: center;
    width: 100%;
}
.screen4-but {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff !important;
    background: linear-gradient(180deg,#5da5ef 0%,#236dc9 100%);
    box-shadow: 0px 4px 4px #c4c4c4;
    border-radius: 50px;
    padding: 15px 20px;
}
.screen4-slider {
    max-width: 100%;;
}
.screen4-block {
    padding: 20px;
}
.screen4-block__show {
    position: relative;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(196,196,196,.7);
    border-radius: 10px;
}
.screen4-namesite {
    border-radius: 10px;
    background: #fff;
    padding: 10px 20px;
}
.block-img {    
    max-height: 380px;
    overflow: hidden;
}
.slick-prev:before {
    content: '\2190';
    font-size: 40px;    
    color: #428bdd;
}
.slick-next:before {
    content: '\2192';
    font-size: 40px;
    color: #428bdd;
}
.slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
}
.slick-dots li button:before {
    font-size: 15px;
}   
.slick-dots li.slick-active button:before {
    color: #2872cc;
}
.slick-dots li button:hover:before {
    color: #2872cc;
}   
.screen4-seeall {
    position: relative;
}
.screen4-seeall a {
    position: absolute;
    right: 0;
    bottom: -38px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff !important;
    padding: 11px 22px;
    background: linear-gradient(180deg,#5da5ef 0%,#236dc9 100%);
    box-sizing: border-box;
    border-radius: 50px;
}
.screen4-seeall a::after {
    content: '\2192';
    color: #fff;
    padding-left: 7px;
}
.nav-tabs {
    border-bottom: 0;
}
.tab-content {
    margin-top: 10px;
}
 