App {
    text-align: center;
    height: 5000px;
  }
  
  .scrollTop {
    position: fixed; 
    width: 100px;
    right: 0;
    bottom: 20px;
    align-items: center;
    height: 20px;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
  }
  
  .scrollTop:hover{
    opacity: 1;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }

/* ---- mouse ----*/
#toTop {
  bottom: 10px;
  right: 30px;
  cursor: pointer;
  display: block;
  position: fixed;
  z-index: 999; }

.just-scroll.color-black .mouse-icon {
    border-color: #5a4122;
    background: #236DC9; }

.just-scroll.color-black .mouse-icon:hover {
  opacity: 0.5; }

.just-scroll.color-black .mouse-icon .wheel {
  background: #fff; }

.just-scroll.color-white .mouse-icon {
  border-color: #fff; }

.just-scroll.color-white .mouse-icon .wheel {
  background: #fff; }

.just-scroll.color-green .mouse-icon {
  border-color: #23d160; }

.just-scroll.color-green .mouse-icon .wheel {
  background: #23d160; }

.just-scroll.centered {
  margin-left: auto;
  margin-right: auto; }

.just-scroll.to-up .mouse-icon .wheel, .just-scroll.to-down .mouse-icon .wheel {
  animation-delay: 0s;
  animation-duration: 1s;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 1s;
  -webkit-animation-play-state: running;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 1s;
  -moz-animation-play-state: running;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-delay: 0s;
  -o-animation-duration: 1s;
  -o-animation-play-state: running;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite; }

.just-scroll.to-up .mouse-icon .wheel {
  animation-name: to-up-mouse-icon-wheel;
  -webkit-animation-name: to-up-mouse-icon-wheel;
  -moz-animation-name: to-up-mouse-icon-wheel;
  -o-animation-name: to-up-mouse-icon-wheel; }

.just-scroll.to-down .mouse-icon .wheel {
  animation-name: to-down-mouse-icon-wheel;
  -webkit-animation-name: to-down-mouse-icon-wheel;
  -moz-animation-name: to-down-mouse-icon-wheel;
  -o-animation-name: to-down-mouse-icon-wheel; }

@keyframes to-up-mouse-icon-wheel {
  0% {
    top: 25px;
    opacity: 0; }
  30% {
    top: 10px;
    opacity: 1; }
  100% {
    top: 5px;
    opacity: 0; } }
@keyframes to-down-mouse-icon-wheel {
  0% {
    top: 5px;
    opacity: 0; }
  30% {
    top: 10px;
    opacity: 1; }
  100% {
    top: 25px;
    opacity: 0; } }
@-webkit-keyframes to-up-mouse-icon-wheel {
  0% {
    top: 25px;
    opacity: 0; }
  30% {
    top: 10px;
    opacity: 1; }
  100% {
    top: 5px;
    opacity: 0; } }
@-webkit-keyframes to-down-mouse-icon-wheel {
  0% {
    top: 5px;
    opacity: 0; }
  30% {
    top: 10px;
    opacity: 1; }
  100% {
    top: 25px;
    opacity: 0; } }
.just-scroll {
  width: 24px; }

.just-scroll .mouse-icon {
  display: block;
  width: 24px;
  height: 40px;
  border: 2px solid;
  border-radius: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 10;
  opacity: .7; }

.just-scroll .mouse-icon .wheel {
  position: relative;
  top: 4px;
  width: 2px;
  height: 6px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto; }

 .equipment .modal.show .modal-dialog {    
    max-width: 800px;
}
.pulse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: gray;
    background: rgba(21, 182, 85, 0.8);
    border-radius: 50%;
    animation: radial-pulse 1s infinite;
}
.wrap-pulse {
  position: fixed;
  bottom: 40px;
  right: 50px;
}
@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }
 
  100% {
    box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
  }
}
/* --- end Mouse ---- */