
.screen5 {    
    font-family: "Lato",sans-serif;
    padding: 0px 50px 10px;
    margin-bottom: 120px;
}
.screen5-blocks{
    margin-top: 60px;
}
.screen5-title {
    text-align: center;
}
.screen5-block {
    padding: 20px 40px;
    background: linear-gradient(180deg,#63aaf2 0%,#216bc8 100%);
    box-shadow: 0px 4px 20px rgba(196,196,196,.7);
    border-radius: 10px;
    min-height: 236px;
    text-align: left;
}
.screen5-title h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 36px !important;
    line-height: 43px !important;
    text-align: left !important;
    color: #3e3f43 !important;
    margin-bottom: 5px !important;
}
.screen5-subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 24px !important;
    line-height: 29px !important;
    text-align: left !important;
    color: #8a8a8a !important;
    text-transform: uppercase;
    margin-bottom: 0;
}
.screen5-title hr {
    border: 2px solid #2872cc;
    width: 115px;
    margin-top: 5px; 
}
.screen5-txt p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #8a8a8a;
    margin-bottom: 15px;
}
.screen5-txt a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #3e3f43;
}