
.screen7 {    
    font-family: "Lato",sans-serif;    
    margin-bottom: 0px;
    margin-top: 80px;
}
.screen7-blocks{
    margin-top: 60px;
}
.screen7-title {
    text-align: center;
}
.screen7-block {
    padding: 20px 40px;
    background: linear-gradient(180deg,#63aaf2 0%,#216bc8 100%);
    box-shadow: 0px 4px 20px rgba(196,196,196,.7);
    border-radius: 10px;
    min-height: 236px;
    text-align: left;
}
.screen7-block__icon {
    max-width: 50px;
}
.screen7-title h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 36px !important;
    line-height: 43px !important;
    text-align: center !important;
    color: #3e3f43 !important;
    margin-bottom: 8px !important;
}
.screen7-subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 24px !important;
    line-height: 29px !important;
    text-align: center !important;
    color: #8a8a8a !important;
    text-transform: uppercase;
}
.screen7-tekstonas p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #3e3f43;
}
.screen7-tekstonas ul {
    margin-bottom: 1rem;
    list-style: disc;
    padding-left: 2rem;
    font-size: 16px;
}

@media(max-width: 767px){
    .screen7 {            
        margin-top: 40px;
    }
}