
.screen6 {    
    font-family: "Lato",sans-serif;
    padding: 0px 50px 10px;
    margin-bottom: 0px;
}
.screen6-blocks{
    margin-top: 60px;
}
.screen6-block{   
    padding: 15px;
}
.screen6-title {
    text-align: center;
}
.screen6-title h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 36px !important;
    line-height: 43px !important;
    text-align: center !important;
    color: #3e3f43 !important;
    margin-bottom: 8px !important;
}
.screen6-subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 24px !important;
    line-height: 29px !important;
    text-align: center !important;
    color: #8a8a8a !important;
    text-transform: uppercase;
}
.screen6-slider .block-img img {
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 30px;
    border: none;
    height: 120px;
    width: 120px;
}
.screen6-titlename {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #8a8a8a;
    margin-bottom: 5px;
}
.screen6-situation {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #8a8a8a;
}
.screen6-reviewtext {
    opacity: 0;
    transition: .3s;
    position: relative;
}
.screen6-but {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff !important;
    background: linear-gradient(180deg,#5da5ef 0%,#236dc9 100%);
    box-shadow: 0px 4px 4px #c4c4c4;
    border-radius: 50px;
    padding: 15px 20px;
}
.screen6-slider {
    max-width: 100%;;
}
.screen6-block {
    padding: 20px;
}
.screen6-block__show {
    position: relative;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(196,196,196,.7);
    border-radius: 10px;
}
.screen6-namesite {
    border-radius: 10px;
    background: #fff;
    padding: 10px 20px;
}
.block6-img {    
    max-height: 120px;
    width: 120px;
    overflow: hidden;
    margin: 0px auto 20px;
    border-radius: 50%;
}
.slick-prev:before {
    content: '\2190';
    font-size: 40px;    
    color: #428bdd;
}
.slick-next:before {
    content: '\2192';
    font-size: 40px;
    color: #428bdd;
}
.slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
}
.slick-dots li button:before {
    font-size: 15px;
}   
.slick-dots li.slick-active button:before {
    color: #2872cc;
}
.slick-dots li button:hover:before {
    color: #2872cc;
}   
.screen6-seeall {
    position: relative;
}
.screen6-seeall a {
    position: absolute;
    right: 0;
    bottom: -38px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff !important;
    padding: 11px 22px;
    background: linear-gradient(180deg,#5da5ef 0%,#236dc9 100%);
    box-sizing: border-box;
    border-radius: 50px;
}
.screen6-seeall a::after {
    content: '\2192';
    color: #fff;
    padding-left: 7px;
}
.nav-tabs {
    border-bottom: 0;
}
.tab-content {
    margin-top: 10px;
}
 