
.screen3 {
    padding: 0 50px 10px;
    margin-bottom: 50px;
    font-family: "Lato",sans-serif;
    text-align: center;
}
.screen3-blocks{
    margin-top: 60px;
}
.screen3-block__icon {
    max-width: 70px;
    margin: 0 auto;
}
.screen3-title h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px ;
    text-align: center ;
    color: #3e3f43 ;
    margin-bottom: 8px;
}
.screen3-subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 24px !important;
    line-height: 29px !important;
    text-align: center !important;
    color: #8a8a8a !important;
    text-transform: uppercase;
}
.screen3-block {
    min-height: 240px;
}
.screen3-title h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 36px !important;
    line-height: 43px !important;
    text-align: center !important;
    color: #3e3f43 !important;
    margin-bottom: 8px !important;
}
.screen3-block__icon {
    padding-bottom: 20px;
}
.screen3-titletype {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #3e3f43;
    margin-bottom: 7px;
}
.screen3-namesite {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #8a8a8a;
}
