@import '../../sass/essentials';

.footer {
	background: #f5f4fc;

	.footer__top {
		color: $white;
		padding-top: 50px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.footer2__top {
        
	}

	.widget-title {
		font-size: 20px;
		color: #3e3f43;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #8a8a8a;
	}
	a {
		color: #8a8a8a;
		line-height: 32px;
	}
}
.footer-single-info {
	display: flex;
    flex-direction: column;
}
.foot-soc-a a {
	color: #007bff;
}

.footer__sidebar-one,
.footer__sidebar-two {

	> .widget:not(:last-child) {
		margin-bottom: 24px;
	}

	h2 {
		font-weight: 800;
		margin-bottom: 18px;
	}

	img {
		width: 100%;
		margin-bottom: 10px;
	}
}

.footer-menu-items {
	h6 {
		margin-bottom: 18px;
	}

	ul {
		li {
			margin-bottom: 10px;
		}
		i {
			padding-right: 2px;
			font-size: 12px;
			margin-right: 5px;
		}
	}
}

.footer__bottom {
	display: flex;
    justify-content: center;
    color: #8a8a8a;
    margin-top: 20px;
    padding: 0 10px 30px 10px;
    font-size: 16px;
}
.copyright-text {
	padding-top: 10px;
}

.social-links {

	display: flex;
	align-items: center;

	li {
		display: inline-block;
		margin-left: 15px;

		svg {
			fill: currentColor;
		}
	}
}

@include mq( $from: medium ){
	.footer__top,
	.footer2__top {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.footer-widget {
		flex-basis: 30%;
		padding-left: 0;
		padding-right: 0;
	}
}
.footer__sidebar-one .widget-content img {
	max-width: 300px !important;
}
.foot-subtitle {
	font-size: 16px;
}