.contacts-row {
    padding: 40px 0;
}
.contacts-block p {
    margin-bottom: 0.3rem;
}
.section-carousel {
    margin: 60px 0;
}
.block-name{
    font-style: normal;
    font-weight: 700;
    font-size: 20px !important;
    line-height: 24px;
    color: #3e3f43;
    min-height: 48px;
}
.section-carousel .screen4-block__show {    
    padding: 15px;
}
.contacts-block ul {
    max-width: 208px;
    padding-left: 20px;
}
.contacts-block li {
    font-size: 14px;
    padding: 2px;
}
.contacts-block ul li:before {
    content: "✓";
    padding-right: 5px;
    color: #539ae8;
    position: absolute;
    left: 20px;
}
.contacts-more {
    margin-top: 10px;
    font-size: 14px;
    margin-left: 20px;    
}
.contacts-popapp {
    text-align: right;
    margin: 20px 0 7px;
}
.contacts .popapp-but {
    padding: 5px 20px;
    font-size: 16px;
}
.slick-next {
    right: -5px;
}
